:root {
    --font: #252422;
    --font-active: #FFFCF2;
    --button-active: #EB5E28;
    --bg: #CCC5B9;
    --button: #403D39;
    
    /* Cards */
    --firstyear: #825F45;
    --secondyear: #797D69;
    --finalyear: #D08C60;
    --personal: #FFCB69;
    --language: #997B66;
    --mobile: #753742;
    --wip: #000000;
    --card-border: #403D39;
    --card-body: #FFFCF2;
    --card-footer: #FBF9F4;

    /* Tables */
    --table-border: #403D39;

    --hyperlink: #EB5E28;
}

body {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1rem;
    background-color: var(--bg);
    color: var(--font);
}

.name-header {
    font-size: 34px;
}

.name-header a {
    text-decoration: none;
    color: inherit;
}

.row-cols-1 a {
    text-decoration: none !important;
    color: inherit;
}

.card {
    border-color: var(--card-border);
    background-color: var(--card-border);
}

.card-title {
    font-weight: bold;
}

.card-body {
    background-color: var(--card-body);
}

.card-footer {
    background-color: var(--card-footer);
}

.card:hover {
    scale: 1.05;
}

.card-text {
    /* font-size: 16px; */
}

h5 {
    font-weight: bold;
}

.bg-personal {
    background-color: var(--personal)   
}

.bg-firstyear {
    background-color: var(--firstyear);
}

.bg-secondyear {
    background-color: var(--secondyear);
}

.bg-finalyear {
    background-color: var(--finalyear);
}

.bg-language {
    background: var(--language);
}

.bg-mobile {
    background: var(--mobile);
}

.bg-wip {
    background-color: var(--wip);
    /* border-radius: 0%; */
    position: absolute;
    top: 1%;
    right: 1%;
    /* right: 0; */
    height: 7.5%;
    width: 15%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects .card {
    position: relative;
}

.btn-toolbar.mb-3 {
    margin-left: 1.25rem;
}

.btn {
    color: var(--font-active) !important;
    background-color: var(--button);
    border-color: var(--button)
}

.btn:hover {
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.btn-active {
    color: var(--font-active);
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.btn:focus {
    color: var(--font-active);
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.badge {
    color: var(--font-active)
}

.div.date{
    float: left;
}

a {
    color: var(--hyperlink);
}

a.clickable-project {
    text-decoration: none; 
    color: inherit;
}

.view-button {
    /* display: none; */
    display: inline;
}

.header-image {
    max-width: 900px;
    max-height: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table.table-bordered {
    border-color: var(--table-border);
}

@media only screen and (max-width: 860px) {
    .btn-toolbar.mb-3 {
        padding-right: 2rem;
    }

    .btn {
        margin-bottom: .25rem;
    }

    .view-button {
        display: inline;
    }
}