:root {
    --font: #252422;
    --font-active: #FFFCF2;
    --button-active: #EB5E28;
    --bg: #CCC5B9;
    --footer: #FBF9F4;
    --button: #403D39;

    --firstyear: #825F45;
    --secondyear: #797D69;
    --finalyear: #D08C60;
    --personal: #FFCB69;
    --language: #997B66;
    --mobile: #753742;
    --wip: #000000;
}

body {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1rem;
    background-color: var(--bg);
    color: var(--font);
}

.row-cols-1 a {
    text-decoration: none !important;
    color: inherit;
}

.card-title {
    font-weight: bold;
}

.card-body {
    background-color: var(--font-active);
}

.card-footer {
    background-color: var(--footer);
}

h5 {
    font-weight: bold;
}

.bg-personal {
    background-color: var(--personal)   
}

.bg-firstyear {
    background-color: var(--firstyear);
}

.bg-secondyear {
    background-color: var(--secondyear);
}

.bg-finalyear {
    background-color: var(--finalyear);
}

.bg-language {
    background: var(--language);
}

.bg-mobile {
    background: var(--mobile);
}

.bg-wip {
    background-color: var(--wip);
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects .card {
    position: relative;
}

.btn-toolbar.mb-3 {
    margin-left: 1.25rem;
}

.btn {
    color: var(--font-active) !important;
    background-color: var(--button);
    border-color: var(--button)
}

.btn:hover {
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.btn-active {
    color: var(--font-active);
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.btn:focus {
    color: var(--font-active);
    background-color: var(--button-active);
    border-color: var(--button-active);
}

.badge {
    color: var(--font-active)
}

.div.date{
    float: left;
}

/* 
384x854 (Galaxy S20+ Linux
390x844 (iPhone 12/13+ Pro)
*/

@media only screen and (max-width: 860px) {
    .btn-toolbar.mb-3 {
        padding-right: 2rem;
    }

    .btn {
        margin-bottom: .25rem;
    }
}