* {
  box-sizing: border-box;
}

body {
  background-color: #222831;
  padding: 20px;
  font-family: Arial;
}

/* Center Website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 5px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #393E46;
  padding: 25px;
  align-items: center;
}

.content p {
  text-align: left;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.headers {
  color: #FFD369;
}

p {
  color: #EEEEEE;
}

h3 {
  color: #FFD369;
  /* text-decoration: underline; */
  text-align: center;
  font-weight: bold;
}

div {
  margin: auto;
  /* Keeps the top of the containers level with each other. */
  margin-top: 1px;
}

a {
  color: #FFD369
}

.headerBar {
  background-color: #393E46;
  padding: 10px;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
}

h2 {
  color: #FFD369;
  /* text-decoration: underline; */
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

/* Footer */
html {height: 100%}

body {
  min-height: 100%;
  position: relative;
  padding-bottom:[footer-height]
}

.footer {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  height:[footer-height];
  text-align: center;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #393E46;
  top: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  margin-bottom: 10px;
}

li {
  display: inline;
  float: left;
  border-right: 1px solid #222831;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #222831;
}

li:last-child{
  border-right: none;
}

.active {
  background-color: #FFD369;
}

#description {
  text-align: center;
}

.highlight {
  color: #FFD369; /* Yellow */
  font-weight: bold;
}