.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: #393E46;
  align-items: center;
}

.content p {
  text-align: left;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  .column {
    width: 100%;
  }
}
  color: #FFD369;
  font-size: 18px;
}

.item3 { grid-area: 2 / 3 / 2 / 4; }

.highlight {
  color: #FFD369;
  font-weight: bold;
}

h3 {
  color: #FFD369;
}

body {
  background-color: #222831;
  font-family: 'Inconsolata', monospace;
}

p {
  color: #EEEEEE;
  text-align: left;
  padding: 20px;
}

.headers {
  color: #FFD369;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}